HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Maven
pom.xml.tag
pom.xml.versionsBackup

# IDE
.idea/
.settings/


# Other
*.log
*.tmp
mvnw

.DS_Store

config.json

application-private.properties

logs
nbproject
output
work
build.properties
mvn.properties
.ant-targets-build.xml
.checkstyle
.externalToolBuilders
.fbprefs
.local
.pmd
.sdkmanrc
.vscode
*.asc
*.jj
.*.s[a-w][a-z]
maven-resolver-ant-tasks-*.jar
thumbs.db
Thumbs.db
bin/setenv.*
java/org/apache/catalina/startup/catalina.properties
modules/jdbc-pool/bin
modules/jdbc-pool/includes
modules/openssl-java17/target
modules/openssl-foreign/target
webapps/docs/jdbc-pool.xml

.smarttomcat

